@use "../abstracts";
@use "../utils";

.headline-all {
  color: abstracts.$blackColor;
  font-family: abstracts.$primaryFont;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.16;
}

.hl-one {
  @extend .headline-all;
  @include utils.font-sizer(3.2, 5, 76.8, 150, 3.2);
  line-height: 1.16;
}

.hl-two {
  @extend .headline-all;
  @include utils.font-sizer(3, 4.2, 76.8, 150, 3);
  line-height: 1.31;
}

.hl-three {
  @extend .headline-all;
  @include utils.font-sizer(2.6, 3.5, 76.8, 150, 2.6);
  line-height: 1.14;
}

.hl-four {
  @extend .headline-all;
  @include utils.font-sizer(2.2, 2.6, 76.8, 150, 2.2);
  font-family: abstracts.$primaryFont;
  line-height: 1.38;
}
