$primaryColor: #d66543;
$secondaryColor: #f4bb60;
$tertiaryColor: #544848;
$accentColor: #d66543;
$shadowColor: #707070;
$blackColor: #000;
$whiteColor: #fff;
$creamColor: #dbe0d6;
$greyColor: #6c6d70;
$greyBrownColor: #403f3f;
