$primaryColor: #1d626b;
$secondaryColor: #95b1a5;
$tertiaryColor: #306a54;
$accentColor: #b69f7b;
$shadowColor: #95b1a5;
$blackColor: #000;
$whiteColor: #fff;
$creamColor: #dbe0d6;
$greyColor: #6c6d70;
$greyBrownColor: #403f3f;
