@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";
@use "../../../styles/global/wrappers";

.testimonials {
  position: relative;
  padding: 10rem 0 5rem;
  background-color: #dbe5e6;

  &-wrapper {
    @extend .wrap-med;
  }

  &-title {
    width: 100%;

    h2 {
      @extend .hl-three;
      text-transform: uppercase;
    }
  }

  &-slider {
    width: 100%;

    .slick-dots {
      bottom: -5rem;

      li {
        width: 4rem;
        height: 4rem;

        button {
          width: 4rem;
          height: 4rem;

          &::before {
            font-size: 2rem;
            width: 4rem;
            height: 4rem;
            color: #95b1a5;
          }
        }
      }
    }
  }

  &-slide {
    &-content {
      width: 100%;

      p {
        @extend .p-one;
      }
    }
  }

  &-image {
    position: absolute;
    top: 2rem;
    right: -2rem;
    width: 27.5rem;

    @media (min-width: 768px) {
      top: 3rem;
      right: 0;
      width: 34.5rem;
    }
  }
}
